{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": ["inline-dotenv"]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables"]
    }
  },
   "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/js"]
      }
    ]
  ]
}